<!DOCTYPE HTML>

<html>
	<head>
		<title>Group 21</title>
		<script src="{{url_for('static', filename= 'jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename= 'jquery.dropotron.min.js')}}"></script>
		<script src="{{url_for('static', filename= 'skel.min.js')}}"></script>
		<script src="{{url_for('static', filename= 'skel-layers.min.js')}}"></script>
		<script src="{{url_for('static', filename= 'init.js')}}"></script>
		
		<link rel="stylesheet" href="{{url_for('static', filename= 'skel.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename= 'style.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename= 'style-desktop.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename= 'style1.css')}}" />
		
	</head>
	

{% block content %}


{% endblock %}
</html>

